astroid==2.2.5
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
ddt==1.2.1
docutils==0.15.2
ecdsa==0.13.2
environs==5.2.1
Flask==1.1.1
future==0.17.1
gitdb2==2.0.5
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
marshmallow==2.20.1
mccabe==0.6.1
pkginfo==1.5.0.1
presalytics-doc-converter==0.2.1
presalytics-ooxml-automation==0.1.0
pyasn1==0.4.6
Pygments==2.4.2
pylint==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-jose==3.0.1
python-keycloak==0.17.4
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.12.0
smmap2==2.0.5
tqdm==4.33.0
twine==1.13.0
typed-ast==1.4.0
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.15.5
wrapt==1.11.2
