<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <title>Authenication</title>




  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap-retheme.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Overpass:400,900&display=swap" rel="stylesheet">
  <link href="/static/css/landing-page.min.css" rel="stylesheet" type="text/css" />



</head>

<body>
  <div id="page-container">
    <div id="content-wrap">


      <nav id="mainNav" class="navbar navbar-dark navbar-expand-lg bg-secondary static-top shadow">
        <div class="container">
          <a class="navbar-brand js-scroll-toggler" href="/">
            <img src="/static/img/navbar.png" alt="presalytics.io" />
          </a>
        </div>
      </nav>





      <div class="page-background bg-light pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    Authentication
                  </h5>
                  <br>
                  <p>You are now logged in.</p>
                  <p>Press the button below to return to the python client</p>
                  <button class="btn btn-success" id="closeButton">
                    Return to Python
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <footer id="footer">

      <div class="bg-secondary text-light h-100">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-dark w-100" id="btm-navbar">

            <div class="collapse navbar-collapse" id="footerjunk">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <span class="navbar-text">&copy; Chart A Lot, LLC</span>
                </li>
              </ul>
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/contact-us/">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/terms-use/">Terms of Use</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/privacy-policy/">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerjunk"
              aria-controls="footerjunk" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="stay-horizontal navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/company/presalytics">
                  <i class="fab fa-linkedin fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/presalytics">
                  <i class="fab fa-github-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://presalytics.slack.com">
                  <i class="fab fa-slack fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/presalytics">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
  <script src="/static/js/jquery.min.js"></script> 
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/auth.js"></script>
</body>