$linkColor: {link_color};
$mainColor: {main_color};
$backgroundColor: {background_color};
$mainFont: {main_font}, Lato, Tahoma, Sans-Serif;
$mainFontSize: {main_font_size};
$selectionColor: {selection_color};
$selectionBackgroundColor: {selection_background_color};
$headingMargin: {heading_margin};
$headingColor: {heading_color};
$headingFont: {heading_font}, Lato, Tahoma, Sans-Serif;
$headingFontWeight: {heading_font_weight};
$headingLineHeight: {heading_line_height};
$headingLetterSpacing: {heading_letter_spacing};
$headingTextTransform: {heading_text_transform};
$headingTextShadow: {heading_text_shadow};
$heading1Size: {heading_one_size};
$heading2Size: {heading_two_size};
$heading3Size: {heading_three_size};
$heading4Size: {heading_four_size};
$heading1TextShadow: {heading_one_text_shadow};
$blockMargin: {block_margin};
$codeFont: {code_font};
$linkColorHover: {link_color_hover}

html {
    font-size: 2.25vmin;
}


